/*border box*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*body width, background color, and universal font*/
body {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color: #f2e6ff;
  font-family: 'Quicksand', monospace, sans-serif;
}


/******************typography*********************/

h1 {
  color: #b53573;
  margin-top: 0;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1em;
}

h2 {
  color: #b53573;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  padding-bottom: 2em;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  color: #b53573;
}

p {
  font-size: .9em;
  font-weight: 400;
  text-align: center;
  color: #b53573;
}

a {
  color: #b53573;
}


/************images styling************/

/*image container*/
section {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 60%;
  /*width: 100%;
  height: 60%;*/
}

/*position images for mobile view (ipad)*/

#tang {
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 1;
}

#panda {
  position: absolute;
  left: 6%;
  top: 35%;
}

#lip {
  position: absolute;
  left: 5%;
  top: 60%;
  z-index: 1;
}

#tangerfriend {
  visibility: hidden;
  position: absolute;
  top: 18%;
  left: 55%;
  float: left;
}

#hearts {
  visibility: hidden;
  position: absolute;
  left: 25%;
  top: 0;
  float: left;
}

#notes {
  visibility: hidden;
  position: absolute;
  left: 5%;
  top: 3%;
  float: left;
  z-index: -1;
}

#arrow {
  visibility: visible;
  position: absolute;
  left: 2%;
  top: 3%;
}


/************captions styling*************/

/*caption container*/
article {
  position: relative;
  top: 0;
  left: 0;
  background-color: #eda6c8;
  border-radius: 1em;
  width: 50%;
  margin: auto;
  padding: 1em;
}

/*position and style captions*/
#tang-caption {
  display: none;
}

#lip-caption {
  display: none;
}

#panda-caption {
  display: none;
}

#hearts-caption {
  display: none;
}


/*footer*/
footer {
  width: 100%;
  position: fixed;
  top: 95%;
  text-align: center;
}

/*****************screens 1366 px or bigger***************************/
@media only screen and (min-width: 1366px) {

/***********typography***************/
  h2 {
    padding: 0;
  }
  a:hover {
    color: #eda6c8;
  }

/************images styling***************/
/*image container*/
  section {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  /*make cursor pointer over images*/
  #tang, #lip, #panda, #hearts {
    cursor: pointer;
  }

  /*hovers*/
  img:hover {
    opacity: 0.5;
  }

  /*make certain images have no hover*/
  #tangerfriend:hover {
    opacity: 1;
  }

  #arrow:hover {
    opacity: 1;
  }

  /*position images*/
  #tang {
    position: absolute;
    top: 4%;
    left: 37%;
    z-index: 1;
  }
  #panda {
    position: absolute;
    left: 32%;
    top: 23%;
  }
  #lip {
    position: absolute;
    left: 18%;
    top: 24%;
    z-index: 1;
  }
  #tangerfriend {
    visibility: hidden;
    position: absolute;
    top: 1%;
    left: 60%;
    float: left;
  }
  #hearts {
    visibility: hidden;
    position: absolute;
    left: 55%;
    top: 4%;
    float: left;
  }
  #notes {
    visibility: hidden;
    position: absolute;
    left: 43%;
    top: 54%;
    float: left;
    z-index: -1;
  }
  #arrow {
    position: absolute;
    left: 30%;
    top: 2%;
  }
}
