/*************BOX MODEL*****************/

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
  overflow: auto;
}

.container {
  width: 90%;
  margin: auto;
}

.col {
  float: left;
}

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}


/*************TYPOGRAPHY**************/

h1 {
  font-family: 'Space Mono', monospace;
  text-align: center;
  font-size: 2em;
  line-height: 1.3em;
  color: #04248E;
  margin-top: 5%;
  margin-bottom: 0.5%;
  text-transform: uppercase;
}

h2 {
  font-family: 'Space Mono', monospace;
  text-align: center;
  font-size: 1.5em;
  color: #FF8686;
  padding-top: 1%;
}

.workshops h2 {
  color: #fff;
}

h3 {
  font-family: 'Source Sans Pro', serif;
  font-size: 1.4em;
  text-align: center;
  line-height: 1.4em;
  padding-top: 1%;
  padding-bottom: 4%;
  color: #939598;
  width: 80%;
  margin: auto;
}

p {
  font-family: 'Source Sans Pro', serif;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #939598;
}

ol {
  margin: auto;
  padding: 0 0 5% 1%;
}

li {
  font-family: 'Source Sans Pro', serif;
  font-size: 1.2em;
  line-height: 1.7em;
  color: #939598;
  list-style-position: outside;
}

a {
  font-family: 'Space Mono', monospace;
  text-decoration: none;
  text-transform: lowercase;
  color: #FF8686;
}

span {
  color: #04248E;
}

textarea {
  font-family: 'Source Sans Pro', serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #939598;
}

hr {
  margin-top: 2%;
  margin-bottom: 3%;
  border: 0.5px solid #04248E;
}

footer a {
  padding-right: 3%;
}


/********NAVIGATION****************/

#dropdown {
  display: none;
  width: 40%;
  background-color: #e6e7e8;
  position: absolute;
}

#dropdown a {
  display: block;
  padding: 7% 5%;
  border: 1px solid #fff;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  text-transform: lowercase;
}

#menu {
  background-color: transparent;
  border: 1px transparent;
  color: #FF8686;
  font-size: 2em;
  margin-top: 2%;
}

#largescreenmenu {
  display: none;
}

footer {
  position: fixed;
  width: 100%;
  top: 95%;
}

#identitysigns footer {
  display: none;
}

/***********BUTTONS******************/

.button {
  background-color: #FF8686;
  padding: 5% 10%;
  border-radius: .5em;
  margin: auto;
  margin-bottom: 10%;
  width: 60%;
  text-align: center;
}

a .button {
  color: #fff;
}

input[type="radio"] {
  display: none;
}

input[type="button"] {
  background-color: #FF8686;
  padding: 2% 2.5%;
  color: #fff;
  display: inline;
  border-radius: .5em;
  border: 1px solid transparent;
  clear: both;
  font-family: 'Space Mono', monospace;
}

input[type="submit"] {
  background-color: #FF8686;
  padding: 2% 5%;
  color: #fff;
  display: inline;
  border-radius: .5em;
  font-family: 'Space Mono', monospace;
}

label {
  padding: 5% 1%;
  margin: auto;
  margin-top: 2%;
  display: block;
  width: 80%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: .5em;
  border: 2px #aba5d2 solid;
  color: #aba5d2;
  font-size: 1.2em;
}

input[type="radio"]:checked+label {
  background-color: #04248E;
  color: #fff;
  border: 2px transparent;
}

.actionbuttons {
  margin: auto;
  text-align: center;
  padding: 3%;
}



/******ask me later buttons*******/

#next1 #next2 #next3 #next4 #submit1 {
  display: block;
}

#jumpback2 #jumpback3 #jumpback4 #jumpback5 {
  display: block;
}

#backtor2 {
  display: none;
}

#backtor3 {
  display: none;
}

#backtor4 {
  display: none;
}

#backtor5 {
  display: none;
}


/*******answer now buttons***********/

input[type=button]:disabled {
  background-color: gray;
}


/*********************************HOME PAGE***********************************************/

#homepage {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}


/***********WORKSHOP MENU***********/

#workshopmenu {
  margin: 5% 0%;
  overflow: auto;
  margin-bottom: 10%;
}

.workshops {
  padding: 10% 0%;
  margin: auto;
  margin-bottom: 2%;
  background-color: #04248E;
}


/*********************************IDENTITY SIGNS WORKSHOP************************************/

#nav-questions {
  position: fixed;
  display: none;
}


/*********IDENTITY SIGNS: questions***************/

#question1 {
  width: 100%;
  height: 100vh;
}

#question2 {
  width: 100%;
  height: 100vh;
}

#question3 {
  width: 100%;
  height: 100vh;
}

#question4 {
  width: 100%;
  height: 100vh;
}

#question5 {
  width: 100%;
  height: 100vh;
}

#r1 {
  width: 100%;
  height: 100vh;
}

#r2 {
  width: 100%;
  height: 100vh;
}

#r3 {
  width: 100%;
  height: 100vh;
}

#r4 {
  width: 100%;
  height: 100vh;
}

#r5 {
  width: 100%;
  height: 100vh;
}


/*********IDENTITY SIGNS: Reflection***************/

textarea {
  border: .5px solid #939598;
  width: 100%;
  height: 50%;
  margin-bottom: 5%;
}


/*********IDENTITY SIGNS: Gallery***************/

.galleries {
  height: 100vh;
}

#gallery #myMsg {
  background-color: #aba5d2;
  color: #fff;
}

#gallery #myMsg2 {
  background-color: #aba5d2;
  color: #fff;
}

#gallery #myMsg3 {
  background-color: #aba5d2;
  color: #fff;
}

#gallery #myMsg4 {
  background-color: #aba5d2;
  color: #fff;
}

#gallery #myMsg5 {
  background-color: #aba5d2;
  color: #fff;
  animation-name: fade;
  animation-duration: 3s;
  animation-delay: 0s;
}

#gallery p {
  float: left;
  margin-right: 2.5%;
  background-color: #e6e7e8;
  width: 45%;
  height: 20%;
  padding: 2%;
  color: #939598;
  overflow: scroll;
}

.responses {
  overflow: auto;
  height: 500px;
}

.msg {
  opacity: 0;
}

.otheruser1, .otheruser2, .otheruser3, .otheruser4, .otheruser5, .otheruser6 {
  opacity: 0;
}

.animatemsg {
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animateset1 {
  animation-name: fade;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animateset2 {
  animation-name: fade;
  animation-delay: 4s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes fade {
  0%   {opacity: 0}
  25%  {opacity: .25}
  50%  {opacity: .5}
  100% {opacity: 1}
}

/**************IDENTITY SIGNS: REVIEWS*************/
#review {
  margin-bottom: 5%;
  height: 100vh;
}

/******************************************RESPONSIVE*************************************************/


/********FOR SCREENS 768 PX AND LARGER********/

@media only screen and (min-width: 768px) {
  body {
    border: 6px solid #aba5d2;
  }
  /******BOX SIZING********/
  .container {
    width: 60%;
  }
  .col-12 {
    width: 48%;
  }
  /*****NAVIGATION**********/
  #menu {
    display: none;
  }
  #largescreenmenu {
    display: block;
    margin-top: 3%;
  }
  #largescreenmenu a {
    padding: 1%;
    font-size: 1.1em;
  }

 a:hover {
    color: #939598;
  }

  #identitysigns footer {
    display: block;
  }
  /*******WORKSHOP MENU********/
  .workshops {
    margin: 1% 1% .25% 0;
  }
  .workshops:hover {
    background-color: #aba5d2;
  }
  /******BUTTONS***********/
  .button {
    padding: 2% 3%;
    width: 25%;
    margin-bottom: 5%;
  }
  .button:hover {
    background-color: #939598;
  }
  label {
    width: 30.3%;
    float: left;
    margin: 1.5%;
    padding: 3.5% 2%;
    cursor: pointer;
  }
  label:hover {
    background-color: #04248E;
    color: #fff;
  }
  input[type="button"] {
    cursor: pointer;
    padding: 2% 5%;
  }
  input[type="button"]:hover {
    background-color: #939598;
  }
  input[type="button"]:disabled {
    cursor: default;
    background-color: gray;
  }

  /***************************IDENTITY SIGNS********************************/
  #identitydescription {
    height: 100vh;
  }
  #aboutpage {
    height: 100vh;
  }
  /******QUESTIONS**********/

  .choices {
    padding-bottom: 30%;
  }
  .questions {
    padding-top: 5%;
  }
  /*****GALLERY SECTION******/
  #gallery p {
   width: 25%;
   height: 20%;
   margin: 0;
  margin-right: 2.5%;
  }

  #gallery p:hover {
    background-color: #aba5d2;
    cursor: pointer;
    color: #fff;
  }

  .responses {
    height: 500px;
    margin-bottom: 1%;
  }

  .galleries {
    position: relative;
  }

  .msg {
    position: absolute;
    left: 37.5%;
    top: 35%;
    width: 30%;
    height: 25%;
  }
  .otheruser1 {
    position: absolute;
    left: 5%;
    top: 15%;
  }
  .otheruser2 {
    position: absolute;
    left: 70%;
    top: 15%;
  }
  .otheruser3 {
    position: absolute;
    left: 37.5%;
    top: 60%;
  }

  .otheruser4 {
    position: absolute;
    left: 37.5%;
  }

  .otheruser5{
    position: absolute;
    left: 70%;
    top: 45%;
  }

  .otheruser6{
    position: absolute;
    left: 5%;
    top: 45%;
  }
}
