/***************BOX SIZING********************/
* {
  box-sizing: border-box;
}

body {
  background-color: #e2e2e2;
  width: 100%;
}

#myContainer {
  width: 100%;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
}

canvas {
  margin: auto;
  display: block;
}

footer {
  width: 100%;
  padding: 1%;
  position: fixed;
  left: 0;
  top: 92%;
}

/*********BUTTON***********/
button {
  display: block;
  border-radius: 10%;
  background-color: #ff454a;
  margin: auto;
  padding: 2%;
  color: #fff;
}

/*************TYPOGRAPHY***********/
h1 {
  text-align: center;
}

h2 {
  font-size: 1em;
  text-align: center;
}

/*********************FOR DESKTOP*************************/
@media only screen and (min-width: 768px) {

}
