/***************BOX SIZING********************/
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f5f7ff;
}

#myContainer {
  width: 100%;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
}

canvas {
  margin: auto;
  display: block;
}

footer {
  width: 100%;
  padding: 1%;
  position: fixed;
  left: 0;
  top: 92%;
  text-align: right;
}

/*********BUTTON***********/
button {
  display: block;
  border-radius: 15px;
  background-color: #0e39f7;
  border: 0px;
  margin: auto;
  color: #fff;
  padding: 5% 30%;
}

/*************TYPOGRAPHY***********/
h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 2.5em;
  color: #0e39f7;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-align: center;
  color: #c6a2ff;
  padding: 1%;
}

footer a {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  color: #0e39f7;
}

footer a:hover {
  color: #c6a2ff;
}

/*********************FOR DESKTOP*************************/
@media only screen and (min-width: 768px) {
 button {
   padding: 2%;
   border-radius: 5px;
 }
}
